version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    assignees:
      - aszili
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily
    ignore:
      - dependency-name: "python"
        versions: ["3.11", "3.11.*"]
    assignees:
      - aszili
